html {
  position: relative;
  min-height: 100%;
}

.container {
  margin-top: 50px;
}

body {
  height: 100%;
  max-width: 100%;
  margin: 0 0 67px 0;
  padding: 0;
  background: url("https://i.imgur.com/7ZERR6s.jpg") no-repeat center center
    fixed;
  background-image: url("https://i.imgur.com/7ZERR6s.jpg");
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

.col {
  background-color: white;
}
